* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Bangers;
}

#leftbull {
    transform: translateX(15%);
    width: 32%;
}

#sun {
    width: 24%;
}

#rightbull {
    transform: translateX(-15%);    
    width: 32%;
}
