* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

#leftbull {
    transform: translateX(100px);
}

#rightbull {
    transform: translateX(-100px);    
}

img {
    
}